<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <%= link_to "Boulder Bike Tour", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <%= link_to "", class: "nav-link dropdown-toggle", role: "button", "aria-expanded": "false", "data-bs-toggle": "dropdown" do %>
            Riders
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Overview", riders_path, class: "dropdown-item" %></li>
            <li class="dropdown-submenu">
              <%= link_to "", class: "dropdown-item dropdown-toggle", role: "button" do %>
                Special Rider
              <% end %>
              <ul class="dropdown-menu dropdown-menu-right">
                <% @riders.order(last_name: :asc).each do |rider| %>
                  <li><%= link_to "#{rider.first_name} #{rider.last_name}", rider_path(rider), class: "dropdown-item" %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Photos", photos_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Locations", locations_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Submissions", new_submission_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", root_path(anchor: "about-section"), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
