
<div class="container">
  <h1>Photos</h1>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a href="<%= photo[:url] %>" target="_blank">
            <img src="<%= photo[:url] %>" class="card-img-top" alt="Photo">
          </a>
          <div class="card-body">
            <h5 class="card-title"><%= photo[:title] %></h5>
            <p class="card-text"><%= photo[:description] %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="pagination">
    <%= paginate @photos %>
  </div>
</div>
<!-- Scroll-to-top button -->
<a href="#" class="scroll-to-top" title="Scroll to top">
  <i class="fas fa-arrow-up"></i>
</a>

