<div class="bg-image-one">
  <div class="container rider top-margin">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <div class="rider shadow mt-5 border p-5 bg-white">
          <div class="row">
            <div class="col-md-6">
              <h2><%= "#{@rider.first_name} #{@rider.last_name}" %></h2>
              <table class="table">
                <tr>
                  <th>City of origin</th>
                  <td><%= @rider.city_of_origin %></td>
                </tr>
                <tr>
                  <th>State of origin</th>
                  <td><%= @rider.state_of_origin %></td>
                </tr>
                <tr>
                  <th>Latitude</th>
                  <td><%= @rider.latitude %></td>
                </tr>
                <tr>
                  <th>Longitude</th>
                  <td><%= @rider.longitude %></td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <div id="map" data-rider-locations="<%= @rider_locations_json %>" style="height: 400px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

